<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="PRODUCTION" status="WARN">

    <Appenders>
        <RollingFile name="AtomFileAppender" 
            fileName="../AtomLogs/atom.log" 
            filePattern="../AtomLogs/atom-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <pattern>%m%n</pattern><!-- %d %p %C{1.} [%t] %m%n -->
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy/> <!--  interval="6" modulate="true" -->
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
			<DefaultRolloverStrategy max="2000"/>
        </RollingFile>
		
	    <Console name="Console" target="SYSTEM_OUT">
      		<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
	    </Console>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="atom" level="info"  additivity="false">
     		<AppenderRef ref="AtomFileAppender"/>
   	    </Logger>
    </Loggers>

 </Configuration>